# redirect RSS
RedirectPermanent /feed https://www.wallabag.org/feeds/all.atom.xml

# remove trailing slash
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]

# 404 error
ErrorDocument 404 /pages/oops-page-not-found.html